body
{
    background-color: black;
}
li
{
    list-style: none;
}
h1
{
    color: white;
    color: red;
}
h2
{
 color: white;
}
p
{
    color: white;
}
.div
{
    color: white;
}
.md-form
{
    color: white;
}
.Accodian
{
    color: white;
}